.dia-normal {
    font-weight: bold;
}

.dia-hoy {
    font-weight: bold;
    color: red;
}

.dia-verde {
    color: green;
    font-weight: bold;
}


/*BOTONES*/
/*Botón para ir o ver*/
.but-go {
    background-color: #58c8ea; /* Color de fondo */
    color: rgb(49, 16, 125); /* Color de la letra */
    font-family: 'Arial', sans-serif; /* Tipo de letra */
    font-size: 15px; /* Tamaño de letra */
    border: none; /* Quitar el borde */
    border-radius: 15px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    cursor: pointer; /* Cambiar el cursor al pasar */
    transition: all 0.3s ease; /* Animación suave */
}
.but-go:hover {
    background-color: #817ef1; /* Cambiar color al pasar el mouse */
    color: rgb(255, 254, 255); /* Color de la letra */
    transform: scale(1.05); /* Agrandar ligeramente */
}

/*Botón para agregar o aceptar*/
.but-add {
    background-color: #a2fa97; /* Color de fondo */
    color: rgb(49, 16, 125); /* Color de la letra */
    font-family: 'Arial', sans-serif; /* Tipo de letra */
    font-size: 15px; /* Tamaño de letra */
    border: none; /* Quitar el borde */
    border-radius: 15px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    cursor: pointer; /* Cambiar el cursor al pasar */
    transition: all 0.3s ease; /* Animación suave */
}

.but-add:hover {
    background-color: #37c225; /* Cambiar color al pasar el mouse */
    color: rgb(255, 254, 255); /* Color de la letra */
    transform: scale(1.05); /* Agrandar ligeramente */
}

/*Botón para filtrar o buscar*/
.but-fil {
    background-color: #ebeab7; /* Color de fondo */
    color: rgb(49, 16, 125); /* Color de la letra */
    font-family: 'Arial', sans-serif; /* Tipo de letra */
    font-size: 15px; /* Tamaño de letra */
    border: none; /* Quitar el borde */
    border-radius: 15px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    cursor: pointer; /* Cambiar el cursor al pasar */
    transition: all 0.3s ease; /* Animación suave */
}

.but-fil:hover {
    background-color: #eeeb44; /* Cambiar color al pasar el mouse */
    color: rgb(86, 69, 7); /* Color de la letra */
    transform: scale(1.05); /* Agrandar ligeramente */
}

/*Botón para eliminar o rechazar*/

.but-del {
    background-color: #fdbfc5; /* Color de fondo */
    color: rgb(49, 16, 125); /* Color de la letra */
    font-family: 'Arial', sans-serif; /* Tipo de letra */
    font-size: 15px; /* Tamaño de letra */
    border: none; /* Quitar el borde */
    border-radius: 15px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    cursor: pointer; /* Cambiar el cursor al pasar */
    transition: all 0.3s ease; /* Animación suave */
}

.but-del:hover {
    background-color: #fe3549; /* Cambiar color al pasar el mouse */
    color: rgb(255, 254, 255); /* Color de la letra */
    transform: scale(1.05); /* Agrandar ligeramente */
}
/*<i class="bi bi-plus-circle"></i>*/




/*CAROUSEL*/
.carousel-control-prev,
.carousel-control-next {
    background-color: rgb(174, 247, 247);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}

.carousel-item img {
    height: 200px;     /* Ajusta la altura según tus necesidades */
    /* object-fit: cover; Ajusta la imagen para que no se deforme */
    object-fit: contain;/*Imagen completa y ajustada al contenedor*/
    width: 80%;        /* Asegura que la imagen ocupe todo el ancho */
    max-height: 50%;
    margin:0 auto;     /* Centra la imagen */
}